body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #F0F0F0;
  padding: 5px;
}

.candidate {
  width: 30%;
  float: left;
  padding: 3px;
  margin: 3px;
  min-width: 220px;
  border-top: 1px solid black;
}

.candidate > img {
  border: 1px solid black;
  display: block;
}

.votes {
  font-size: 22px;
}

.headshot {
  margin-bottom: 10px;
}

.comment {
  padding: 4px;
  font-size: 14px;
  width: 200px;
}

#container ul {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}

#container ul li {
  border-bottom: 1px solid #dddddd;
  padding: 4px 0;
}

